body {
  margin: auto;;
}

.form {
  margin: 20% auto 0 auto;
  min-width: 200px;
  max-width: 500px;
}

.login {
  border-left: 1px solid #eee;
  height: 100%;
}

#form-ticket-utilizar {
  margin-top: 150px;
}

.perfil {
  margin-top: 20px;
}

.erro {
  text-align: center;
  margin: 10px auto;
  color: red;
}

hr {
  border-width: 2px;
}
